apiVersion: apps/v1
kind: Deployment
metadata:
  name: nats-system
  labels:
    {{- include "nats.labels" . | nindent 4 }}
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "nats.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "nats.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: nats-sa
      containers:
        - name: nats
          image: {{ .Values.image }}
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          args: ["-c", "/etc/nats/nats.conf", "-js"]
          ports:
            - containerPort: 4222
              name: client
            - containerPort: {{ .Values.websocket.port }}
              name: websocket
          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu | quote }}
              memory: {{ .Values.resources.requests.memory | quote }}
            limits:
              cpu: {{ .Values.resources.limits.cpu | quote }}
              memory: {{ .Values.resources.limits.memory | quote }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8222
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8222
            initialDelaySeconds: 3
            periodSeconds: 5
          volumeMounts:
            - name: config
              mountPath: /etc/nats
      volumes:
        - name: config
          configMap:
            name: nats-config
