apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: influxdb-data
  labels:
    {{- include "influxdb.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storage.size }}
